PORT=8000
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176
JWT_SECRET=copy_the_same_value_from_auth_service_env
AUTH_SERVICE_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:4000
CHARACTER_SERVICE_URL=http://localhost:5000
